<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">

<style>
    .calculatorButtons {
        height: 50px;
        border: 1px solid #000000;
    }

    .operand {
        height: 50px;
        border: 1px solid #000000;
    }

    .cancel {
        height: 50px;
        border: 1px solid #000000;
    }

    .calculatorButtons:active {
        background-color: #737373;
    }

    .cancel:active {
        background-color: #737373;
    }
    .operand:active {
        background-color: #737373;
    }

</style>

<div class="row">
    <div class="col-md-3">
        <div id="1" class="col-md-3 calculatorButtons btn">1</div>
        <div id="2" class="col-md-3 calculatorButtons btn">2</div>
        <div id="3" class="col-md-3 calculatorButtons btn">3</div>
        <div id="add" class="col-md-3 operand add btn">+</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="4" class="col-md-3 calculatorButtons btn">4</div>
        <div id="5" class="col-md-3 calculatorButtons btn">5</div>
        <div id="6" class="col-md-3 calculatorButtons btn">6</div>
        <div id="subtract" class="col-md-3 operand subtract btn">-</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="7" class="col-md-3 calculatorButtons btn">7</div>
        <div id="8" class="col-md-3 calculatorButtons btn">8</div>
        <div id="9" class="col-md-3 calculatorButtons btn">9</div>
        <div id="multiply" class="col-md-3 operand multiply btn">*</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="0" class="col-md-3 calculatorButtons btn">0</div>
        <div id="clear" class="col-md-3 cancel btn">C</div>
        <div id="equals" class="col-md-3 operand btn">=</div>
        <div id="divide" class="col-md-3 operand divide btn">/</div>
    </div>
</div>

<div class="row">
    <div id="answer" class="col-md-3 ">
        <input type="text" id="answerDiv" class="form-control answer"/>
    </div>
</div>



<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="calculator.js"></script>